<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

	<description>导入applicationContext文件列表</description>
	<import resource="classpath*:spring-conf/applicationContext.xml" />
	<!-- <import resource="classpath*:spring-cache/applicationContext-memcached.xml" /> -->
	<!-- <import resource="classpath*:spring-redis/applicationContext-redis.xml" /> -->
	<!-- <import resource="classpath*:spring-email/applicationContext-email.xml"/> -->
	<!-- <import resource="classpath*:spring-servlet/servlet-context.xml"/> -->
	<!-- <import resource="classpath*:spring-cxf/cxf-servlet.xml"/> -->
	<!-- <import resource="classpath*:spring-cxf/cxf-client.xml"/> -->
</beans>